<section id="projects">
<div class="container">
  <h1>Projects</h1>
  <div class="panel panel-default">
	  <div class="panel-head">
	  	<h2>Books</h2>
	  </div>
  	<div class="panel-body">
  	  <h3>
				<strong>GitBook: <a href="https://jerrylin224.gitbooks.io/commonly-asked-interview-questions-for-rails-deve/content/" target="_blank">The commonly asked interview questions for junior Rails developer</a></strong>
			</h3>
  	</div>
  	<div class="panel-head">
	  	<h2>Rails</h2>
	  </div>
    <div class="panel-body">
    	<div class="project">
				<h3>
					<strong><a href="https://github.com/jerrylin224/netflix_clone" target="_blank">MyFlix</a></strong>  <strong><a class="original-color" href="https://mighty-garden-67245.herokuapp.com/" target="_blank">Demo</a></strong>
				</h3>
				<div class="project-left">
					<a href="https://github.com/jerrylin224/netflix_clone" target="_blank">
            <img src="https://camo.githubusercontent.com/89d8add7b7e0ec8c03913c5ef4c68971e19cfb40/68747470733a2f2f692e696d6775722e636f6d2f4e534e744451342e676966" class="demo-gif" alt="">
          </a>
				</div>
				<div class="project-right">
					<p>A Netflix clone project, test development driven. User is able to upload image, leave review, invite thier friends by sending email, follow other users, pay with Stripe and check others' reviews.</p>
					<strong><p>Gem & API: Carrierwave, Mailgun, Stripe, S3, Heroku</p></strong>
				</div>
			</div>
			<div class="project">
				<h3>
					<strong><a href="https://github.com/jerrylin224/postit" target="_blank">Postit</a></strong>  <strong><a class="original-color" href="https://stormy-citadel-82498.herokuapp.com/"  target="_blank">Demo</a></strong>
				</h3>
				<div class="project-left">
					<a href="https://github.com/jerrylin224/postit" target="_blank">
            <img src="https://camo.githubusercontent.com/d5a3975241f6f3c60a08a80960ee09b7d359e4ea/687474703a2f2f7777772e637265617465796f75726f776e6c697665732e636f6d2f77702d636f6e74656e742f75706c6f6164732f757365722d63616e2d6372656174652d706f73742e676966" class="demo-gif" alt="">
          </a>
				</div>
				<div class="project-right">
					<p>A Reddit clone site. User can sign in/out, create post and comment, vote for post and comment, and can search for post topic.</p>
					<strong><p>Feature: Post/Vote/Comment, Signin/out, Ajax</p></strong>
					<br>
				</div>	
			</div>

			<div class="project">
				<h3>
					<strong><a href="https://github.com/jerrylin224/slack_clone" target="_blank">Slackclone</a></strong>
				</h3>
				<div class="project-left">
          <a href="https://github.com/jerrylin224/slack_clone" target="_blank">
            <img src="https://i.imgur.com/eF5eJhT.gif" class="demo-gif" alt="">    
          </a>
        </div>
				<div class="project-right">
					<p>A Slack clone site. User can sign in/out with github, gmail, facebook or personal mail account. The app is built by using Action cable and reddis, user can receive messages from others in real time.
			<strong><p>Gem & API: Devise, Omniauth, Action cable, Redis</p></strong>
				</div>
    </div>
    <div class="panel-head">
	  	<h2>JavaScript</h2>
	  </div>
	  <div class="panel-body">
  	  <h3>
				<strong><a href="https://github.com/jerrylin224/JavaScript30" target="_blank">JavaScript Practice</a></strong>
			</h3>
      <div class="project-left">
        <a href="https://github.com/jerrylin224/JavaScript30" target="_blank">
          <img src="https://i.imgur.com/gzsxL3B.png" alt="">
        </a>
      </div>
      <div class="project-right">
  			<p>This practice is the tutorial of the Wes Bos's JavaScript30, which aims to build app by using vanilla JavaScript.</p>
      </div>
  	</div>

		<div class="panel-body">
  	  <h3>
				<strong><a href="https://github.com/jerrylin224/js_simple_app/" target="_blank">jQuery Practice</a></strong>
			</h3>
			<p>Several jQury app, including todo app, modal effect and slide show effect.</p>
  	</div>
	  <div class="panel-body">
  	  <h3>
				<strong><a href="https://github.com/jerrylin224/backbone.js_practice" target="_blank">Backbone.js Practice</a></strong>
			</h3>
			<p>Some practice with Backbone.js framework.</p>
  	</div>
  </div>
</div>
</section>
